@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET */
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Optional: background + text defaults */
body {
  background-color: #ffffff;
  color: #2c2c2c; /* ink color */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  background-color: #ffffff;
  overscroll-behavior-y: none;
}

.pinkbg {
  background-color: #e6ced2;
}
